<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "helloWorld" class = "com.mahmudkocas.HelloWorld.HelloWorld" scope="singleton"><!--Hello World Bean-->
      <property name = "message" value = "Hello World!"/>
   </bean>

   <bean id= "exampleInit" class = "com.mahmudkocas.BeanLifeCycle.ExampleInit" init-method = "init" destroy-method= "destroyXML"><!--Life Cycle-->
      <property name = "message" value = "Running..." />
   <!--Calls init() method after properties set
   XML way-->
   </bean>

   <bean id= "parent" class= "com.mahmudkocas.innerBeans.Parent"><!--Inner Beans-->
      <property name= "child">
         <bean id="child" class= "com.mahmudkocas.innerBeans.Child" />
      </property>
   </bean>
</beans>